<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
  </head>
  <body>
    <h3>Links</h3>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/about">About</a></li>
      <li><a href="/contact">Contact</a></li>
    </ul>

    <h1>Hello Wold</h1>
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Porro pariatur
      officia impedit mollitia, quidem eius quae temporibus dolor at, incidunt
      obcaecati placeat, iure beatae earum consequatur voluptatum voluptatem!
      Temporibus, obcaecati.
    </p>

    <h4>Daftar Mahasiswa</h4>

    <!-- jika data array mahasiswa tidak ada isi atau datanya maka,  -->
    <% if (mahasiswa.length < 1 ) { %>
    <!-- tampilkan data mahasiswa masih kosong -->
    <p style="color: red">Data mahasiswa masih kosong.</p>
    <!--jika ada maka tampilkan datanya --!>
    <% } else { %>

    <!-- melakukan looping array menggunakan foreach -->
    <% mahasiswa.forEach(mhs => { %>
    <ul>
      <li>Nama: <%= mhs.nama %></li>
      <li>Email: <%= mhs.email %></li>
    </ul>
    <% }) %> <% } %>
  </body>
</html>
